/* CSS Document */
:root{
	--background-color-blue-gradient: linear-gradient(180deg, rgba(17,56,119,1) 37%, rgba(133,152,184,1) 69%, rgba(231,234,239,1) 87%); 
	--cirlce-color: #5373A8;
	--bg-azul: #123877;
	
}

.nombre-usuario{
	padding-bottom: 10%!important;
	font-size: 14px;
}

.nombre-usuario a{
	margin-top: 18px;
	color: #000;
}


.img-fluid{
	max-width: 100%
}

.background-color-blue{
	background-color:linear-gradient(180deg, rgba(17,56,119,1) 37%, rgba(133,152,184,1) 69%, rgba(231,234,239,1) 87%); 
}/*No se si se pude cambiar todo el color de fondo de la aplicacion*/

.contendor-1 i{
	font-size: 80px;
	margin-left: 35px;
	margin-bottom: 65px;
	color: #fff;
	background-color: var(--cirlce-color);
	border-radius: 100%;
}
.contendor-2 i{
	font-size: 80px;

	margin-left: 35px;
	margin-bottom: 65px;
	color: #fff;
	background-color: var(--cirlce-color);
	border-radius: 100%;
}
.contendor-3 i{
	font-size: 80px;

	margin-left: 35px;
	margin-bottom: 65px;
	color: #fff;
	background-color: var(--cirlce-color);
	border-radius: 100%;
}
.contendor-4 i{
	font-size: 80px;

	margin-left: 35px;
	margin-bottom: 65px;
	color: #fff;
	background-color:var(--cirlce-color);
	border-radius: 100%;
}
.contendor-5 i{
	font-size: 80px;

	margin-left: 35px;
	color: #fff;
	background-color:var(--cirlce-color);
	border-radius: 100%;
}
.contendor-6 i{
	font-size: 80px;

	margin-left:35px;
	color: #fff;
	background-color:var(--cirlce-color);
	border-radius: 100%;
}


.clases-1{
	background-color: #113877;
}

.list-clases .list{
	color: #fff;
	background-color: #113877!important;
}
.nombre-u{
	color: #fff;
}
.nombre-u h2{
	color: #fff;
	font-size: 15px;
	margin-top: -0.5px;
	font-weight:400
}

.center{
	text-align: center;
}
.button{
	color: var(--bg-azul);
}

.info-g{
	text-align: center;
	color: #fff;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.info-g h2{
	text-align: center;
	color: #fff;
}







